@import '@theme/color.scss';

.container {
    width: 40%;
    border-right: 1px solid white;
    display: flex;
    padding-left: 0.5em;
    align-items: center;
    justify-content: space-between;
}

.underlay {
    position: fixed;
    background-color: rgba($color: $smoke, $alpha: 0.55);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
}

.modal {
    width: 50%;
    height: 60%;
    background-color: white;
}
