@import '@theme/color.scss';

.container {
    width: 40%;
    border-right: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.commanderName {
    display: flex;
    flex-direction: column;
    padding-left: 8px;
    width: 250px;
    > * {
        height:50%;
    }
}

.underlay {
    position: fixed;
    background-color: rgba($color: $smoke, $alpha: 0.55);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
}

.manaCost {
    margin: 0 8px;
    width: 102px;
    display: flex;
    justify-content: center;
}

.cardCount {
    margin: 0 8px;
    width: 75px;
    display: flex;
    flex-direction: column;
    > * {
        height:50%;
    }
}

.modal {
    height: 75%;
    background-color: $pale;
    padding: 8px 0px 8px 8px;
}

.cardList {
    margin-top: 4px;
    overflow-y: auto;
    height: calc(100% - 1.5em);
}

.searchContainer {
    display: flex;
    justify-content: center;
    height: 100%;
}

.searchSection {
    display: flex;
    flex-direction: column;
    width: 25vw;
    margin-right: 8px;
}