@import '@theme/color.scss';

.manaSymbol {
    display: block;
    border: 1px solid $smoke;
    border-radius: 0.5em;
    height: 1em;
    width: 1em;
    margin: 0 0.075em;
    box-shadow: 1px 1px 1px $smoke;
}

.manaCost {
    display: flex;
}
