@import '@theme/color.scss';

.saveLoadButton {
    color: $white;
    cursor: pointer;
    width: 55px;
    margin-right: 8px;
    font-size: 1em;
    font-family: 'Beleren', sans-serif;
    background-color: $smoke;
    border: 1px solid $white;
    padding: 8px;
    border-radius: 4px;
    transition: all 200ms ease-in-out;

    &:hover {
        color: $smoke;
        background-color: white;
    }
}

.formatButton {
    color: $white;
    cursor: pointer;
    width: 120px;
    margin-right: 8px;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    font-size: 1em;
    font-family: 'Beleren', sans-serif;
    background-color: $granite;
    border: 1px solid $granite;
    padding: 8px;
    border-radius: 4px;
    transition: all 200ms ease-in-out;

    &:hover {
        border-color: $smoke;
        color: $white;
        background-color: $smoke;
    }
}

.formatModal {
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}