{
	"extends": ["eslint-config-tecca", "prettier", "prettier/react"],
	"plugins": ["grapes"],
	"globals": {
		"Card":false,
		"RawCard": false
	},
	"rules":{
		"@typescript-eslint/no-explicit-any":"error",
		"grapes/no-internal-import":"error"
	}
}
