@import '@theme/color.scss';

.button {
    background-color: $pale;
}

.buttonContainer {
    display: flex;
    margin: 4px;
    justify-content: space-evenly;
}

.modifyButton {
    cursor: pointer;
    color: $white;
    background-color: $smoke;
    border: 1px solid $white;
    font-family: "Bitter", sans-serif;
    height: 2em;
    padding: 4px;
    margin: 4px;
    vertical-align: middle;
    width: 50%;
    &:hover {
        color: $smoke;
        background-color: $white;
    }
    transition: all 100ms ease-in;
}

.modal {
     display: flex;
     background-color: $smoke;
     flex-direction: column;
     justify-content: center;
     align-content: center;
}

.cardContainer {
    display: flex;
    overflow-y: scroll;
    max-height: 658px;
    flex-wrap: wrap;
    justify-content: center;     
}

.cardImage {
    display: block;
    height: 255px;
    width: 183px;
    margin: 4px;
}
