@import '@theme/color.scss';

.deckList {
    padding: 0 4px;
    margin: 4px 4px;
    overflow-y: auto;
    height: calc(100% - 12px - 2em);
}

.buttonContainer {
    display: flex;
    margin-top:4px;
    justify-content: space-evenly;
}

.importButton {
    cursor: pointer;
    color: $white;
    background-color: $smoke;
    border: 1px solid $white;
    font-family: "Bitter", sans-serif;
    height: 2em;
    padding: 4px;
    margin: 4px;
    vertical-align: middle;
    width: 50%;
    &:hover {
        color: $smoke;
        background-color: $white;
    }
    transition: all 100ms ease-in;
}