@import '@theme/color.scss';

.cardRow {
    background-color: $card-multi;
    display: flex;
    border-radius: 1em;
    flex-shrink: 0;
    border: 1px solid $smoke;
    align-items: center;
    padding: 2px 5px;
    justify-content: space-between;
}

.image {
    display: block;
    height: 510px;
    width: 366px;
    z-index: 10;
}

.imageContainer {
    pointer-events: none;
    display: flex;
    overflow: hidden;
    position: fixed;
    visibility: hidden;
}

.white {
    background-color: $card-white;
}

.blue {
    background-color: $card-blue;
}

.black {
    background-color: $card-black;
}

.red {
    background-color: $card-red;
}

.green {
    background-color: $card-green;
}

.multi {
    background-color: $card-multi;
}

.colorless {
    background-color: $card-colorless;
}

.outOfDeck {
    background-color: $granite;
    color: $white;
}
