@import '@theme/color.scss';

.cardCountModal {
    padding: 8px;
    & input{
        background-color: $white;
        border: none;
        padding: 0 4px;
        margin-right: 4px;
        height: 1.5em;
        width: 2.5em;
        outline: none;
        font-family: "Bitter", sans-serif
    }
}
