$smoke: #3b2b2e;
$taupe: #C5BAAF;
$pale: #d6d5c9;
$nickel: #7B7263;
$granite: #5F6062;
$white: #F6F6F6;
$card-white: #e1e1d7;
$card-blue: #a0c5df;
$card-black: #b9adad;
$card-red: #eec0a6;
$card-green: #d5dedb;
$card-multi: #d6b16a;
$card-colorless: #cdd6db;