@import '@theme/color.scss';

.searchBox {
    background-color: $white;
    border: none;
    padding: 0 4px;
    display: block;
    height: 1.5em;
    outline: none;
    font-family: "Bitter", sans-serif;
}
