@import '@theme/color.scss';

html, body {
    margin:0;
    height: 100%;
    width: 100%;
    background-color: $pale;
    font-family: "Beleren", sans-serif;
    
    & ::-webkit-scrollbar {
        height: 12px;
    }
    
    & ::-webkit-scrollbar-button {
        display: none;
    }
    
    & ::-webkit-scrollbar-thumb {
        background: $smoke;
        border-radius: 4px;
        border: 1px solid $smoke;
    }
}

@font-face {
    font-family: 'Bitter';
    src: url("./static/fonts/Bitter.ttf") format('truetype');
}

@font-face {
    font-family: 'Beleren';
    src: url("./static/fonts/Jace-Beleren-Bold.ttf") format('truetype');
}

@font-face {
    font-family: 'Beleren-Caps';
    src: url("./static/fonts/Beleren-Small-Caps.ttf") format('truetype');
}

button {
    border-width: 0px;
    border-style: solid;
    outline: none;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}