html, body, #root {
    margin:0;
    height: 100%;
    background-color: #FDF7FA;
    font-family: "Beleren", sans-serif;
}

@font-face {
    font-family: 'Plantin';
    src: url("./static/fonts/Plantin.ttf") format('truetype');
}

@font-face {
    font-family: 'Beleren';
    src: url("./static/fonts/Jace-Beleren-Bold.ttf") format('truetype');
}

@font-face {
    font-family: 'Beleren-Caps';
    src: url("./static/fonts/Beleren-Small-Caps.ttf") format('truetype');
}

button {
    border-width: 0px;
    border-style: solid;
    outline: none;
}
