html, body, #root {
    margin:0;
    background-color: #F6F6F6;
    font-family: "Beleren", sans-serif;
}

@font-face {
    font-family: 'Bitter';
    src: url("./static/fonts/Bitter.ttf") format('truetype');
}

@font-face {
    font-family: 'Beleren';
    src: url("./static/fonts/Jace-Beleren-Bold.ttf") format('truetype');
}

@font-face {
    font-family: 'Beleren-Caps';
    src: url("./static/fonts/Beleren-Small-Caps.ttf") format('truetype');
}

button {
    border-width: 0px;
    border-style: solid;
    outline: none;
}
