@import '@theme/color.scss';

.slider {
    height: calc(100vh - 3em);
    position: fixed;
    top: 3em;
    border-top: 1px solid $white;
    background-color: $smoke;
    width: 300px;
    transition: transform 250ms ease-in-out;
}

.sliderRight {
    right: 0;
}

.retractedLeft {
    transform: translateX(-100%);
}

.retractedRight {
    transform: translateX(100%);
}

.zIndex {
    position: relative;
    height: 100%;
    z-index: 5;
}

.tabOuter {
    position: absolute;
    top: 50%;
    display: flex;
    justify-content: center;
    height: 1.5em;
    z-index: 0;
}

.tabLeft {
    right: 0;
    transform: translateX(calc(50% + 0.75em)) rotate(90deg);
    > * {
        border-radius: 10px 10px 0 0;
    }
}

.tabRight {
    left: 0;
    transform: translateX(calc(-50% - 0.75em)) rotate(90deg);
    > * {
        border-radius: 0 0 10px 10px;
    }
}

.tabInner {
    padding: 0 10px;
    font-family: "Beleren", "sans-serif";
    text-align: center;
    color: $white;
    background-color: $smoke;
    width: fit-content;
}